.navbar {
  padding: 30px 0px 30px 0px;
}

.hidetrans {
  animation: fade-out 500ms forwards;
}

.hide {
  display: none;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.show {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nv {
    background-color: rgb(29, 27, 27) !important;
  }
  .mantra {
    margin-top: 10px;
  }
}
.brand-logo {
  height: 50px !important;
  width: 50px !important;
}

body {
  background-color: rgb(29, 27, 27);
}

.top {
  background: url("images/backhome2.png") center center;
  background-size: cover;
  height: 90vh;
  position: relative;
  /* opacity: 0.5; */
  color: white;
}

.navbar-brand-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roblox Black Round", sans-serif;
}

.mantra {
  padding-top: 20%;
}
.mantra h1 {
  opacity: 1 !important;
  font-size: 50px !important;
}

.bar-top {
  height: 10px !important;
  color: #1dcdfe;
  width: 100px !important;
  opacity: 1;
}

.bar-bottom {
  height: 7px !important;
  color: #1dcdfe;
  width: 100px !important;
  padding: 5px 0px 0px 10px !important;
  margin-left: 10px;
  opacity: 1;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nv {
  background-color: transparent;
}

.nvblack {
  background-color: #271f1f;
}

.quote .quote-box {
  z-index: 10 !important;
  background-color: #34f5c6;
  min-height: 400px;
  width: 100%;
  margin-top: -350px;
  position: relative;
  padding: 40px;
}
.quote .quote-box h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  color: #000;
}
.quote .quote-box p {
  font-family: "Encode Sans Normal", sans-serif;
}

.button-primary {
  background-color: #198754;
  padding: 7px;
  min-width: 120px;
  border: 0;
  color: white;
  border-radius: 20px;
}

.about-us {
  margin-top: 100px;
  color: white;
  margin-bottom: 100px;
}
.about-us h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.about-us .about-below {
  margin-top: 100px;
}
.about-us .pic-box {
  background-image: url("images/docotro.png");
  height: 100%;
}
.about-us .about-logo {
  display: flex;
  justify-content: right;
}
.about-us .about-logo .logo {
  background-color: #198754;
  padding: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.about-us .about-point {
  margin-bottom: 20px;
}
.about-us .about-point:hover {
  padding-left: 10px;
  transition: all 0.2s;
}
.about-us .about-point:hover .logo {
  background-color: #1dcdfe;
}

.row {
  margin-top: 20px;
}

.parallax {
  height: 50vh;
  background-image: url("images/behindcomputer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.service {
  background-color: white;
  padding: 100px 0px 100px 0px !important;
}
.service .service-item {
  box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px;
  margin: 50px 0px 20px 0px;
  transition: all 0.3s;
}
.service .service-item:hover {
  margin-top: -1px;
  transition: all 0.3s;
}
.service h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.clients {
  padding: 100px 0px 100px 0px !important;
  background-color: aqua !important;
}
.clients h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: dark !important;
}

.portfolio {
  padding: 100px 0px 100px 0px !important;
  background-color: white;
}
.portfolio h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #000 !important;
}
.portfolio .tab-buttons {
  display: flex;
  justify-content: center;
}
.portfolio .tab-buttons span {
  padding: 10px;
}
.portfolio img {
  width: auto;
  height: auto;
}

.contact {
  padding: 100px 0px 100px 0px !important;
  background-color: white;
}
.contact .contact-details {
  margin-top: 10px;
  box-shadow: 0px 1px 70px rgba(0, 0, 0, 0.1);
}
.contact h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #000 !important;
}
.contact .address-back {
  background-color: #1d1b1b;
  padding: 100px;
  color: white;
}
.contact .contact-item {
  padding-bottom: 50px;
}
.contact .form {
  padding: 100px;
}

.footer {
  padding: 100px 0px 100px 0px !important;
  color: white;
}
.footer h5 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: "Roblox Black Round", sans-serif;
}
.footer p:nth-child(3) {
  margin: 0;
}
.footer p:nth-child(2) {
  padding-bottom: 30px;
}
.footer .other-cols h5 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.footer .other-cols ul li {
  padding: 5px;
}
.footer .other-cols ul a {
  text-decoration: none;
  color: #34f5c6;
}

@keyframes anim {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #313030;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #ff5821;
  background: #fff1ed;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #473d3a;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #7f6d68;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #635551;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #ff5821;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #ffa587;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 20px;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff5821;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff5821;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(71, 61, 58, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 100px 0px 100px 0px !important;
  background-color: rgb(236, 251, 247);
}
.team h2 {
  font-family: "Encode Sans Wide", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #000 !important;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #473d3a;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a:hover {
  color: #ff5821;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #473d3a;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #989595;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #656262;
}

.team .member:hover .social {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */